svg {
  display: inline-block;
  width: 10em;
  height: 10em;
  stroke-width: 0;
  stroke: currentColor;
  fill: red;
}

svg:hover {
  fill: blue;
}

.film {
  fill: green;
}
.film:hover {
  fill: yellow;
}
/*#icon-185-clipboard:hover {
  fill: pink;
}*/

.check {
  fill: blue;
}

#check:hover {
  fill: #FFFF00;
}
